name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    #strategy:
    #  matrix:
    #    configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x.x

    - name: Restore dependencies
      run: dotnet restore
    
    - name: Test (Debug)
      run: |
        # Omit '-c' for configuration option (testing CLI tool option handling; NOT dotnet command)
        # * '--TEST' is valid only in Debug build
        dotnet run -c Debug --project ./cli -- Debug --TEST
        dotnet run -c Debug --project ./cli -- Debug -md --warnings >> $GITHUB_STEP_SUMMARY
    
    - name: Test (Release)
      run: |
        dotnet run -c Release --project ./cli -- Release -md >> $GITHUB_STEP_SUMMARY
