name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x.x

    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: |
        dotnet build --no-restore -c ${{ matrix.configuration }}

    - name: Test
      run: |
        dotnet run -c ${{ matrix.configuration }} --project ./cli --TEST
        
        ###dotnet run --project ./cli --markdown >> $GITHUB_STEP_SUMMARY
        
        dnx -y FUnit.Run -- -c ${{ matrix.configuration }} -md >> $GITHUB_STEP_SUMMARY
