name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  debug:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x.x

    - name: Test (Debug)
      run: |
        # Omit '-c' for configuration option (testing CLI tool option handling; NOT dotnet command)
        # * '--TEST' is valid only in Debug build
        dotnet run -c Debug --project ./cli -- Debug --TEST
        dotnet run -c Debug --project ./cli -- Debug -md --warnings >> $GITHUB_STEP_SUMMARY

  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x.x

    - name: Test (Release)
      run: |
        # no '--warnings'
        dotnet run -c Release --project ./cli -- Release -md >> $GITHUB_STEP_SUMMARY
