name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x.x

    - name: Test (Debug)
      if: matrix.configuration == 'Debug'
      run: |
        # Omit '-c' for configuration option (testing CLI tool option handling; NOT dotnet command)
        # * '--TEST' is valid only in Debug build
        dotnet run -c ${{ matrix.configuration }} --project ./cli -- ${{ matrix.configuration }} --TEST
        dotnet run -c ${{ matrix.configuration }} --project ./cli -- ${{ matrix.configuration }} -md --warnings >> $GITHUB_STEP_SUMMARY

    - name: Test (Release)
      if: matrix.configuration == 'Release'
      run: |
        # no '--warnings'
        dotnet run -c ${{ matrix.configuration }} --project ./cli -- ${{ matrix.configuration }} -md >> $GITHUB_STEP_SUMMARY
